@font-face{
    font-family:  Silkscreen;
    src: url('../assets/fonts/Silkscreen-Regular.ttf');
}
@font-face{
    font-family:  SpaceMono;
    src: url('../assets/fonts/SpaceMono-Regular.ttf');
}
@font-face{
    font-family:  PressStart;
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}


.landingPage {
    text-align: center;
    padding: 20px 30px;
    background-color: #ADE4DB;
    min-height: 100vh;
    color: #04364A;
}

.marquee {
    display: flex;
    overflow: hidden;
    gap: 2rem;
    border: 5px solid #577D86;
    margin: 0 auto;
    padding: 0;
    height: 70vh;
    background-color: #87CBB9;
    box-shadow: 10px 10px 5px 0px #071952;
    -webkit-box-shadow: 10px 10px 5px 0px #071952;
    -moz-box-shadow: 10px 10px 5px 0px #071952;
}

.message {
  margin: 20px 0 15px ;
  font-family: SpaceMono;
  font-weight: bold;
  font-size: 1.5rem;
}

.ladingButton {
  display: inline-block;
  font-size: 1.2rem;
  color: #04364A;
  padding: 8px 12px;
  font-family: 'PressStart', sans-serif;
  cursor: pointer;
  background-color: #9AD0C2;
  position: relative;
  overflow: hidden;
  border: none;
}

.ladingButton::before,
.ladingButton::after,
.ladingSpan::before,
.ladingSpan::after  {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background: transparent;
  transition: 1s;
}

.ladingButton::before {
  top: 0;
  left: 0;
  border-top: 3px solid #12486B;
  border-left: 3px solid #12486B;
}

.ladingButton::after {
  top: 0;
  right: 0;
  border-top: 3px solid #12486B;
  border-right: 3px solid #12486B;
}

.ladingSpan::before {
	bottom: 0;
	left: 0;
	border-bottom: 3px solid #12486B;
	border-left: 3px solid #12486B;
}
.ladingSpan::after {
	bottom: 0;
	right: 0;
	border-bottom: 3px solid #12486B;
	border-right: 3px solid #12486B;
}

.ladingButton:hover::before,
.ladingButton:hover::after {
  transform: scaleX(1) scaleY(1);
}

.ladingButton:hover::before,
.ladingButton:hover::after,
.ladingButton:hover ladingSpan::before,
.ladingButton:hover ladingSpan::after  {
	width: calc( 100% - 4px);
	height: calc( 100% - 4px);
}

.marqueeGroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 15s linear infinite;
  font-family: "Silkscreen";
  font-size: 5rem;
}

.marqueeGroup span {
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

