@font-face{
    font-family:  PressStart;
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}
@font-face{
    font-family:  SpaceMono;
    src: url('../assets/fonts/SpaceMono-Regular.ttf');
}

.game-card {
  /* Establece estilos para las tarjetas de juego */
    margin: 10px;
    padding: 20px;
    width: 85vw;
    max-width: 350px;
    border: 5px solid #183D3D;
    text-align: center;
    box-shadow: 5px 5px 5px 0 #93B1A6;
    overflow: hidden;
    background-color: #B9B4C7;
    position: relative;
}

/* Puedes ajustar la altura según tus preferencias */
.game-card img {
    max-height: 150px; /* Establece una altura máxima para las imágenes */
    max-width: 300px;
}

.game-card ul {
    list-style: none;
}

.game-card button {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 15px;
    margin-top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3876BF;
    font-size: .9rem;
    font-family: 'SpaceMono', sans-serif;
    font-weight: bold;
}

.game-card button:hover{
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .game-card {
        margin: 10px;
        padding: 20px;
        max-width: 400px;
        height: 270px;
        min-height: 270px;
    }
}
