.homeContainer {
    width: 100vw;
    height: auto;
    background-color: #726A95;
    display: flex;
    flex-direction: column;
}

.homeTitle {
    width: 90vw;
    margin: 0 auto;
    background-color: #ADE4DB;
    color: #04364A;
    text-align: center;
    border: 5px solid #577D86;
}
.cardsContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

@media (min-width: 768px) {
    .homeContainer {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .cardsContainer{
        display: grid;
        padding: 20px 30px;
        grid-template-columns: repeat(3, 1fr);; 
        gap: 20px; 
        justify-content: space-evenly;
    }
}
